--extra-index-url https://download.pytorch.org/whl/cu126
fastapi
uvicorn
sse-starlette
python-multipart
scikit-learn
pdfplumber
PyMuPDF
PyPDF2
python-pptx
sentence-transformers
faiss-cpu
torch
torchvision
numpy
nltk
reportlab
bcrypt